@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidenav {
    flex: 1;
    border-right: 0.5px solid rgb(225, 222, 222);
    min-height: 100vh;
    background-color: #BFBDA3;
}

.top {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .logo {
        font-size: 26px;
        font-family: "Prompt", sans-serif;
        font-weight: 400;
        color: #5f6244;
    }
}

hr {
    height: 0;
    border: 0.5px solid rgb(225, 222, 222);
}

.center {
    padding-left: 16px;
    

    ul {
        list-style: none;
        margin-top: 20px;
        padding: 0;

    }

    li {
        display: flex;
        padding: 20px;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #dddddd;
        }
    }

    span {
        font-size: 18px;
        font-family: "Prompt", sans-serif;
        font-weight: 500;
        margin-left: 10px;
        color: #1C2621;
    }
}

.icon {
    color: #5f6244;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;

    /* .themeOption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid rgb(39, 39, 39);
        cursor: pointer;
        margin: 8px;

        &:nth-child(1) {
            background-color: whitesmoke;
        }

        &:nth-child(2) {
            background-color: rgb(65, 64, 64);
        } */
}
