.register-wrapper {
    width: 420px;
    padding-top: 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color:#292929;
    -webkit-box-shadow: 10px 10px 23px 5px rgba(113,133,123,0.75);
    -moz-box-shadow: 10px 10px 23px 5px rgba(113,133,123,0.75);
    box-shadow: 10px 10px 23px 5px rgba(113,133,123,0.75);
    border-radius: 10px;
    padding: 30px 40px;
    
    h2 {
        font-size: 36px;
        text-align: center;
        padding-left: 10px;
    }
   
}

.input-box {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 20px 0;

    input {
        width: 80%;
        height: 100%;
        background: transparent;
        border-radius: 20px;
        border: 2px solid rgb(220, 220, 220);
        font-size: 16px;
        padding-left: 20px;
        padding-right: 30px;
    }
}