
.register-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    background-color: #BFBDA3;

}

.block-1 {
    width: 50%;
    /* background-color: #6E7346; */
    
    .logo-img-2 {
        padding-left: 50px;
        width: 100%;
        height: auto;
    }
}

.block-2 {
    width: 50%;
    padding-bottom: 90px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;

    .block-2-register {
        padding-left: 100px;
    }
    button {
        margin-left: 10px;
    }
}

